.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  min-height: 100vh;
}

.desktop-top {
  display: flex;
  position: absolute;
  top:0;
  bottom: 0;
}

.desktop-bottom {
  display: flex;
  position: absolute;
  bottom: -20;
  right: 0;
}

.mobile-top {
  display: none;
}

.mobile-bottom {
  display: none;
}

.main-content {
  display: flex;
  width: 100%;
  /* align-items: center; */
  min-height: 100vh;
  margin-left: 10rem;
  margin-right: 10rem;
  flex-direction: column;
}

@media (max-width:375px){
  .desktop-top {
    display: none;
  }
  
  .desktop-bottom {
    display: none;
  }

  .mobile-top {
    display: flex;
    position: absolute;
    top: 0;
    left:0;
  }

  .mobile-bottom {
    display: flex;
    position: absolute;
    top: 105%;
    right:0;
  }

  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
  }
}